{% extends 'rozetka/base.html' %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <caption>Scraping products from <span class="btn-outline-secondary badge-pill">
                https://rozetka.com.ua</span></caption>
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Price</th>
        <th>Detail</th>
      </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ product.title|slice:"100" }}</td>
          <td>
            {% if product.price > 0 %}
              {{ product.price }}</td>
            {% else %}
              Out of stock
            {% endif %}
          <td><a href="{% url 'product-detail' product.id %}" class="btn btn-secondary
                    btn-sm">View</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}