{% extends "base.html" %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <h2 class="mb-5">Hi,
    {% if user.username %}{{ user.username|capfirst }}{% else %}someone{% endif %}!
  </h2>

  <div id="Inner">
    <h2> HT #19</h2>
    На основі скрейпера із ДЗ №15 написати сайт із наступним функціоналом:
    1. Сторінка "Додати продукти", на якій буде textfield, в який можна ввести будь-яку кількість
    ID продуктів. При відправленні форми повинен запуститись скрейпер і зібрати всі продукти із
    обраними ID з сайту Розетки.
    2. Сторінка "Мої продукти", на якій вивести всі продукти, які є в системі, із зазначенням їхніх
    основних параметрів (назва, ціна).
    3. Сторінка "Продукт", на якій будуть виведені вся інформація про обраний продукт: назва, ціна,
    ІД, короткий опис (якщо є), бренд, категорія, лінка на продукт (на сайті Розетки) і т.д.
    P.S. Процес скрейпінга повинен відбуватись "на бекграунді" - тобто основний потік виконання не
    повинен блокуватись. Варіант вирішення цієї задачі: використовувати додаткову модель,
    наприклад, ScrapingTask, в яку запишется значення textfield. А отриманий ID цієї таски при
    запуску скрейпера в сабпроцесі передати в якості параметра.

    <div id="Content">
      <div id="bannerL">
        <div id="div-gpt-ad-1474537762122-2">
          <script type="text/javascript">googletag.cmd.push(function () {
              googletag.display("div-gpt-ad-1474537762122-2");
          });</script>
        </div>
      </div>
      <div id="bannerR">
        <div id="div-gpt-ad-1474537762122-3">
          <script type="text/javascript">googletag.cmd.push(function () {
              googletag.display("div-gpt-ad-1474537762122-3");
          });</script>
        </div>
      </div>
      <div id="Panes">
        <h2>HT #20</h2>
        Доробити попереднє ДЗ:
        додати сторінку корзини
        імплементувати додавання продукта до корзини, зміну кількості продукта (перевіряти на
        від'ємне значення як введеного значення, так і отриманої кількості), видалення одного
        продукта, очищення всієї корзини.
        <div>
        </div>
        <br>
        <h2>HT #21</h2>
        Базуючись на попередній ДЗ, реалізувати наступний функціонал:
        Створити форму для авторизації користувача. Нові користувачі додаються із Адмінки.
        Якщо користувач неправильний - редіректнуть на сторінку логіна і вивести відповідне
        повідомлення (messages)
        Якщо користувач незалогінений - сайт показується, але є кнопка (або посилання) "LOG IN"
        Якщо користувач залогінений - на місці тієї кнопки (посилання) показується його ім'я і
        поруч кнопка (посилання) "LOG OUT"
        Додайте підтримку категорій продуктів.
        На головній сторінці виводяться всі продукти. При цьому вгорі є перелік доступних категорій
        - при натисканні на конкретну категорію показується сторінка із продуктами тільки цієї
        категорії.
        Якщо користувач є суперюзером - на сторінці товара показується кнопка для його редагування
        або видалення.
        Якщо користувач залогінений - він може додати продукт в корзину.
        Якщо користувач не залогінений - він може тільки продивлятись продукти.
        При спробі незалогіненого або звичайного юзера відкрити сторінку редагування продукта - він
        редіректиться на головну сторінку і виводиться відповідне повідомлення.
        До сторінки додавання нових продуктів доступ має тільки суперюзер
        <br>
        <h2>HT #22</h2>
        Базуючись на попередній ДЗ, реалізувати наступний функціонал:

        1. Додати Django REST Framework в свій магазин для всих своїх моделей.
        1. Уточнення по моделям:
        2. Модель категорії - тільки `ListView` Модель Продукта - `ListView + Update / Delete`,
        додати валідацію на апдейт / деліт продукта - його може зробити тільки суперюзер.
        `(authentication_classes = (authentication.SessionAuthentication, ) )`
        2. Додавання до корзини, зміну кількості, очищення корзини або видалення одного продукта з
        неї
        зробити з використанням ajax запитів.
        <h2>HT #23</h2>
        Доробити процес скрейпінгу нових продуктів, використовуючи в якості скрейпера запроси з
        модулем requests, а багатопотоковості скрейпінга досягнути використанням Celery завдань.
      </div>
    </div>
  </div>
{% endblock %}